USE [master]
GO
CREATE DATABASE [GestionUsuarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionUsuarios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GestionUsuarios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionUsuarios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GestionUsuarios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionUsuarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionUsuarios]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[PaisId] [int] IDENTITY(1,1) NOT NULL,
	[NombrePais] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[rl_id] [int] IDENTITY(1,1) NOT NULL,
	[rl_nombre] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles_usuarios](
	[rlu_id] [int] IDENTITY(1,1) NOT NULL,
	[rlu_usr_id] [int] NULL,
	[rlu_rl_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[rlu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[usr_id] [int] IDENTITY(1,1) NOT NULL,
	[usr_nombre] [varchar](45) NOT NULL,
	[usr_apellido] [varchar](45) NOT NULL,
	[usr_email] [varchar](150) NOT NULL,
	[PaisId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[usr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Paises] ON 

INSERT [dbo].[Paises] ([PaisId], [NombrePais]) VALUES (1, N'El Salvador')
INSERT [dbo].[Paises] ([PaisId], [NombrePais]) VALUES (2, N'Guatemala')
INSERT [dbo].[Paises] ([PaisId], [NombrePais]) VALUES (3, N'Estados Unidos')
SET IDENTITY_INSERT [dbo].[Paises] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([rl_id], [rl_nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[roles] ([rl_id], [rl_nombre]) VALUES (2, N'Editor')
INSERT [dbo].[roles] ([rl_id], [rl_nombre]) VALUES (3, N'Publicador')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([usr_id], [usr_nombre], [usr_apellido], [usr_email], [PaisId]) VALUES (6, N'Armando', N'NH', N'armando@mail.com', 2)
INSERT [dbo].[usuarios] ([usr_id], [usr_nombre], [usr_apellido], [usr_email], [PaisId]) VALUES (7, N'Vanessa', N'AP', N'vane@mail.com', 2)
INSERT [dbo].[usuarios] ([usr_id], [usr_nombre], [usr_apellido], [usr_email], [PaisId]) VALUES (8, N'Karla', N'AW', N'karla@mail.com', 2)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
ALTER TABLE [dbo].[roles_usuarios]  WITH CHECK ADD  CONSTRAINT [fk_Roles] FOREIGN KEY([rlu_rl_id])
REFERENCES [dbo].[roles] ([rl_id])
GO
ALTER TABLE [dbo].[roles_usuarios] CHECK CONSTRAINT [fk_Roles]
GO
ALTER TABLE [dbo].[roles_usuarios]  WITH CHECK ADD  CONSTRAINT [fk_Usuario] FOREIGN KEY([rlu_usr_id])
REFERENCES [dbo].[usuarios] ([usr_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[roles_usuarios] CHECK CONSTRAINT [fk_Usuario]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [fk_Usuario_Pais] FOREIGN KEY([PaisId])
REFERENCES [dbo].[Paises] ([PaisId])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [fk_Usuario_Pais]
GO
USE [master]
GO
